*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auto {
    max-height: 200px;
    min-height: 200px;
}

.formBut{
    display: inline-block;
}

.navBar {
    background-color: darkgray;
    padding-left: 15px;
    padding-right: 15px;
}

.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

li a {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease-out;
    transform-origin: left;
}

li a:hover::before {
    width: 100%;
}

.navBut {
    background-color: gray;
    margin-left: 10px;
    border-radius: 100px;
    padding: 10px;
    width: 140px;
    height: 50px;
    border: none;
    transition: 0.8s;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navBut:hover{
    background-color: whitesmoke;
    color: gray;
    cursor: pointer;
}

.addBut {
    background-color: gray;
    border-radius: 100px;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    transition: 0.8s;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.addBut:hover{
    background-color: whitesmoke;
    color: gray;
    cursor: pointer;
}

.profileBut {
    background-color: gray;
    border-radius: 100px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    transition: 0.8s;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.profileBut:hover{
    background-color: whitesmoke;
    color: gray;
    cursor: pointer;
}

.divLogo, .divBut {
    display: inline-block;
}